body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bayan__title {
  margin: 0 0 25px;
  font-size: 35px;
  color: darkcyan;
  font-family: Arial, Helvetica, sans-serif;
}

.bayan {
  width: 700px;
  max-width: 700px;
}

.bayan__faq {
  border: 1px solid #615546;
  border-radius: 0.3rem;
}


.bayan__faq-img {
  display: flex;
  justify-content: center;
}

.bayan__faq-img img {
  width: 150px;
  height: 150px;
}

.bayan__faq-item:not(:first-child) {
  border-top: 1px solid #615546;
}

.bayan__faq-label {
  color: darkcyan;
  font-size: 20px;
  display: block;
  padding: 10px 15px;
  cursor: pointer;
}

.bayan__faq-input {
  width: 0;
  height: 0;
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.bayan__faq-input:checked ~ .bayan__faq-img {
  display: block;
}

.bayan__faq-input:checked ~ .bayan__faq-label {
  background-color: aqua;
}

.bayan__faq-img {
  display: none;
  padding: 10px 15px;
  font-size: 18px;
}
